---

- name: Update/create FortiADC Resources.
  hosts: all
  become: false
  gather_facts: false
  connection: local
  vars:
    fad_health_checks:
      # minimum example for HTTP L7 health checks
      - name: LB_HLTHCK_HTTP_app1-ndkprd-com
        type: http
        hostname: app1.ndkprd.com
      # complete example for HTTP L7 health checks
      # other than 'type', which have default value of 'icmp', all the value
      # of the parameter in here is actually the default value that will be used
      # if the parameter is omitted
      - name: LB_HLTHCK_HTTP_app2-ndkprd-com
        hostname: 'app2.ndkprd.com'
        type: 'http'
        interval: '5'
        timeout: '3'
        up_retry: '1'
        down_retry: '3'
        dest_addr_type: 'ipv4'
        dest_addr_ipv4: '0.0.0.0'
        dest_addr_ipv6: '::'
        send_string: '/'
        receive_string: 'receive-string'
        status_code: '200'
        match_type: 'match_string'
        method_type: 'http_head'
        addr_type: 'ipv4'
        host_addr: '0.0.0.0'
        host_addr6: '::'
        http_version: 'http_1.1'
        folder: 'INBOX'
        file: 'welcome.txt'
        passive: 'enable'
        cpu: '96'
        mem: '96'
        disk: '96'
        agent_type: 'UCD'
        version: 'v1'
        http_connect: 'no_connect'
        compare_type: 'less'
        cpu_weight: '100'
        mem_weight: '100'
        disk_weight: '100'
        sip_request_type: 'register'
        allow_ssl_version: 'sslv3 tlsv1.0 tlsv1.1 tlsv1.2'
        ssl_ciphers: "{{ fad_hc_ssl_ciphers }}" # check the value in vars/main.yaml
        rtsp_method_type: 'options'
        mysql_server_type: 'primary'
        radius_reject: 'disable'
        vendor_id: '12356'
        product_name: 'FortiADC'
        host_ip_addr: '0.0.0.0'
        host_ip6_addr: '::'
        connect_type: 'service_name'
        port: '0'

  roles:
    - ndkprd.fad_health_check
